@import url("http://fonts.googleapis.com/css2?family=Roboto&display=swap");

body{
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    font-family: "Roboto",sans-serif;
}

#data-list article {
    display: flex;
}

.player_Block {
    flex-basis: 69%;
}

.list_Block {
    flex-basis: 29%;
}

iframe {
    width: 100% !important;
    height: 500px !important;
}